@import '../base';

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-size(tablet-landscape-down) {
    width: 90vw;
    margin: 20px auto;
  }

  @include for-size(tablet-landscape-up) {
    left: 5vw;
    position: fixed;
    top: 5vh;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-size(tablet-landscape-up) {
      height: 70vh;
      align-items: center;
      width: 40vw;
    }

    @include for-size(small-desktop) {
      width: 40vw;

    }

    @include for-size(desktop-up) {
      width: 35vw;
    }
    @include for-size(big-desktop-up) {
      width: 30vw;
    }

    a {
      color: $text-color;
      padding: 5px 15px;
      background-color: $main-color;
      border: 2px solid $text-color;
      margin: 5px 2.5px;

      @include for-size(phone-only) {
        margin: 0.5vw;
        padding: 5px 13px;
      }

      &:hover {
        color: $main-color;
        background-color: $text-color;
      }
    }


    .tags,
    #menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      margin-left: 10px;
      @include for-size(phone-only) {
        width: calc(90vw - 10px);
        border-radius: 8px;
      }

      @include for-size(tablet-landscape-down) {
        align-items: flex-start;
      }

      a {
        margin: 1px -6px;
        border-radius: 20px;
        cursor: pointer;
        white-space: nowrap;


        &:hover {
          color: $main-color;
          background-color: $text-color;
        }

        &.active {
          color: $main-color;
          background-color: $text-color;
          font-size: 1.7rem;

          @include for-size(phone-only) {
            font-size: 1.1rem;
          }
        }
      }

      svg {
        fill: $text-color;

      }
    }


    .tags {
      align-self: flex-start;

      @include for-size(phone-only) {
        font-size: 0.9em;
        margin-top: 15px;
      }

      @include for-size(tablet-portrait-up) {
        border-radius: 8px;
        margin-top: 15px;
        font-size: 1.2rem;
      }

      @include for-size(tablet-landscape-up) {
        font-size: 1.6rem;
      }
    }

    #menu {
      @include for-size(phone-only) {
        font-size: 1em;
      }

      @include for-size(tablet-portrait-up) {
        font-size: 1.4em;
        flex-wrap: nowrap;
      }

      @include for-size(tablet-landscape-up) {
        width: 100%;
        font-size: 1.6rem;
      }

    }

    .shuffle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: $main-color;
      cursor: pointer;

      @include for-size(tablet-landscape-down) {
        display: none !important;
      }

      &:after {
        content: '';
        border: 1px solid $text-color;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }

  }
}


.titles {
  position: relative;

  h1 {
    font-family: "GrandSlang", monospace;
    font-size: 100px;
    font-weight: 500;
    @include for-size(phone-only) {
      font-size: 55px;
    }
    @include for-size(tablet-landscape-up) {
      font-size: 80px;
    }
    @include for-size(desktop-up) {
      font-size: 100px;
    }
  }

  h2 {
    font-size: 24px;
    margin: 10px 0 15px;
    animation: appearh2 1s;
    font-weight: 400;

    @include for-size(phone-only) {
      font-size: 22px;
    }

    &::after {
      content: ' ';
      width: 100%;
      height: 2px;
      display: block;
      margin-top: 15px;
      background-color: $text-color;
    }
  }
}


.work {
  @include for-size(tablet-landscape-up) {
    #menu {
      a.show {
        width: 300px;
        color: $text-color;
      }

      a {
        padding: 9px 15px;
        width: 15px;
        overflow: hidden;
        color: $main-color;

        &:hover {
          width: 300px;
          color: $text-color;
        }
      }
    }
  }
}



