@import '../base';

.work {

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .grid {
    position: absolute;
    z-index: 10;
    background-color: $main-color;

    @include for-size(phone-only) {
      position: relative;
      margin: auto;
      width: calc(90vw + 20px);
      left: 0;
      top: 20px;
    }
    @include for-size(tablet-portrait-up) {
      position: relative;
      margin: auto;
      width: 90vw;
      left: 0;
      top: 20px;
    }

    @include for-size(tablet-landscape-up) {
      position: absolute;
      width: calc(45vw + 15px);
      right: calc(5vw - 10px);
      margin: 0;
      left: unset;
      top: 130px;
    }

    @include for-size(desktop-up) {
      width: 50vw;
      right: calc(5vw - 10px);
      top: 120px;
    }

    @include for-size(big-desktop-up) {
      width: 58vw;
    }


    .masonry {
      display: flex;
      flex-flow: row wrap;
      margin-left: $gutter;
      width: calc(100% - 10px); //gutter


      @include for-size(tablet-portrait-up) {
        margin-left: 0;
        width: calc(100% + 10px);
      }

      @include for-size(tablet-landscape-up) {
        width: 100%;
      }

      .mItem {
        height: 100%;
        margin: 0 $gutter $gutter 0;

        &:last-of-type {
          flex: 0 1 32%;
        }

        @include for-size(phone-only) {
          flex: 100%;
        }

        @include for-size(tablet-portrait-up) {
          flex: 1 1 40%;
        }

        @include for-size(tablet-landscape-up) {
          flex: 1 1 30%;
        }

      }
    }

  }

  .selected {
    display: none;

    img {
      object-fit: cover;
    }

    @include for-size(tablet-landscape-down) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .container {
        order: 2;
        align-self: end;
        margin: 20px 5vw 0;
        flex-direction: row !important;

      }
    }

    @include for-size(tablet-landscape-up) {
      margin-top: 20vh;
      gap: 65px;
      margin-right: 5vw;
      justify-content: flex-end;
      z-index: -10;
      align-items: end;
    }

    .mock {
      width: 90vw;
      height: 50vh;
      position: relative;
      overflow: hidden;

      @include for-size(tablet-landscape-up) {
        width: 45vw;
        height: 70vh;
      }
      @include for-size(big-desktop-up) {
        width: 55vw;
        height: 70vh;
      }

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        color: rgba(0, 0, 0, 0.1);
      }


      .active {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }

      .mockup:first-of-type {
        display: block;
      }

      .mockup {
        display: none;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: end;
      justify-content: end;
      align-items: end;

      .main {
        max-width: 150px;
        display: none;
        @include for-size(tablet-landscape-up) {
         display: block;
        }
      }

      .details > * {
        margin-bottom: 10px;
        @include for-size(tablet-landscape-up) {
          max-width: 350px;
        }

      }

      .shop-btn {
        border-radius: 20px;
        padding: 5px;
        border: 2px solid $text-color;
        display: inline-flex;
        @include for-size(tablet-landscape-down) {
          margin-bottom: 100px;
        }
      }
    }
  }

}

.mItem{
  opacity: 0;
 // will-change: transform;
}
